/* VARIABLES */
:root{
    --DesaturatedDarkCyan: hsl(180, 29%, 50%);
    --LightGrayishCyan: hsl(180, 52%, 96%); /*(Background)*/
    --LightGrayishCyan: hsl(180, 31%, 95%); /*(Filter Tablets)*/
    --DarkGrayishCyan: hsl(180, 8%, 52%);
    --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
    --White: #fff;
    --shadowBox: hsl(180deg 29% 50% / 30%);
}


body{
    background-color: var(--LightGrayishCyan) !important;
    font-family: "Spartan" !important;
    font-size: 15px !important;
}
h1, h3, .tag-dark-green-letters{
    font-family: "Spartan" !important;
    font-weight: 700 !important;
}
h1{
    font-size: 1.5rem !important;
}
h3{
    font-size: 1rem!important;
}
li{
    display: inline-block;
}

.row{
    background-color: var(--White);
    margin: auto;
}
.jb-row{
    border-radius: 5px;
    box-shadow: 5px 10px 18px var(--shadowBox);
    margin: 8% auto !important;
    padding: 5% 3%;
}
.jb-row-feature{
    border-left: 5px solid var(--DesaturatedDarkCyan);
    
}
.company, .role, .level, .language, .tools{
    color: var(--DesaturatedDarkCyan);
}
.tag-job{
    border-radius: 10rem !important;
    color: var(--White) !important;   
    font-size: 10px !important;     
    text-transform: uppercase;
}
.badge{
    padding: 0.6em !important;
    margin-left: 9px;
}
.company{
    width: 50% !important;
}
.cp-size{
    width: 150px!important;
}
.new{
    background-color: var(--DesaturatedDarkCyan);
    width: 55px !important;
}
.feature{
    background-color: var(--VeryDarkGrayishCyan);
    width: 73px!important;
}

.desc{
    color: var(--DarkGrayishCyan);
}
.hide-element{
    visibility: hidden;
}
#tg-knowledge{
    padding-top: 4%;
    text-align: right;
}
#tg-knowledge li{
    background-color: var(--LightGrayishCyan);
    color: var(--DesaturatedDarkCyan);
}
/* Nav */
#bg-nav img{
    background-color: var(--DesaturatedDarkCyan) !important;
    width: 100% !important;
}

/* list jobs */
.content-left{
    float: left
}
.content-right{
    margin-left: 25%;
}

.desc{
    padding: 0;
}
/* bullet points */
.content-right ul li { 
    list-style: none; display: inline;
}
.content-right ul li:after { 
    content: " \00b7"; 
    font-size: 25px;
    margin: auto 3% !important;
}
.content-right ul li:last-child:after { 
    content: none; 
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }