/* VARIABLES */
:root{
    --DesaturatedDarkCyan: hsl(180, 29%, 50%);
    --LightGrayishCyan: hsl(180, 52%, 96%); /*(Background)*/
    --LightGrayishCyan: hsl(180, 31%, 95%); /*(Filter Tablets)*/
    --DarkGrayishCyan: hsl(180, 8%, 52%);
    --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
    --White: #fff;
    --shadowBox: hsl(180deg 29% 50% / 30%);
}


body{
    background-color: var(--LightGrayishCyan) !important;
    font-family: "Spartan" !important;
    font-size: 15px !important;
}
h1, h3, .tag-dark-green-letters{
    font-family: "Spartan" !important;
    font-weight: 700 !important;
}
h1{
    font-size: 1.2rem !important;
}
h3{
    font-size: 0.8rem!important;
}
li{
    display: inline-block;
}
h1:hover{
    color: var(--DesaturatedDarkCyan) !important;
}
.row{
    background-color: var(--White);
    margin: auto;
}
#job-list .jb-row{
    margin: 3% auto !important;
    padding: 5% 3%;
}
.jb-row{
    border-radius: 5px;
    box-shadow: 5px 10px 18px var(--shadowBox);
    
}
.jb-row-feature{
    border-left: 5px solid var(--DesaturatedDarkCyan);
    
}
.company, .role, .level, .language, .tools{
    color: var(--DesaturatedDarkCyan);
}
.tag-job{
    border-radius: 10rem !important;
    color: var(--White) !important;   
    font-size: 10px !important;     
    text-transform: uppercase;
}
.badge{
    padding: 0.6em !important;
    margin-left: 9px;
    margin-bottom: 13px;;
}
.company{
    width: 50% !important;
}
.cp-size{
    width: 150px!important;
}
.new{
    background-color: var(--DesaturatedDarkCyan);
    width: 55px !important;
}
.feature{
    background-color: var(--VeryDarkGrayishCyan);
    width: 73px!important;
}

.desc{
    color: var(--DarkGrayishCyan);
}
.hide-element{
    visibility: hidden;
}
#tg-knowledge{
    padding-top: 4%;
    text-align: right;
}
#tg-knowledge li:hover{
    color: var(--LightGrayishCyan);
    background-color: var(--DesaturatedDarkCyan)
}
#tg-knowledge li{
    background-color: var(--LightGrayishCyan);
    color: var(--DesaturatedDarkCyan);
    padding: 10px !important;
}
/* Nav */
#bg-nav img{
    background-color: var(--DesaturatedDarkCyan) !important;
    width: 100% !important;
}

/* list jobs */
.content-left{
    float: left
}
.content-right{
    margin-left: 25%;
}

.desc{
    padding: 0;
}
/* bullet points */
.content-right ul li { 
    list-style: none; display: inline;
}
.content-right ul li:after { 
    content: " \00b7"; 
    font-size: 25px;
    margin: auto 3% !important;
}
.content-right ul li:last-child:after { 
    content: none; 
}

/* FILTERING */
#job-filter{
    bottom: 25px;
    margin: auto 3.5%;
    position: relative;
}
#job-filter .jb-row{
    height: 5%;
}
#job-filter li{
    float: left;
}
#job-filter #tg-knowledge {
    padding-top: 14px !important;
}
/* #job-filter .badge:after{
    display: inline-block;
    content: url(images/icon-remove.svg);
} */

#tg-knowledge li.img-job-filter {
    background-color: var(--DesaturatedDarkCyan);
    border-radius: 0px 5px 5px 0px;
    padding: 4.5px !important;
}
#tg-knowledge li.img-job-filter:hover{
    background-color: var(--VeryDarkGrayishCyan);
}
.clear-btn{    
    margin: auto !important;
    text-align: center!important;
}
.clear-btn a{
    color: var(--DesaturatedDarkCyan) !important;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* screen <= 991px */
@media (max-width: 991px) {
    hr{
        margin: 0px !important;
    }
    
    .hide-element{
        visibility: visible;
    }
    #tg-knowledge{
        padding-left: 0 !important;
        text-align: left;
    }
    #tg-knowledge li{
        margin-top: 15px;
        margin-right: 10px;
    }
    #tg-knowledge .badge{
        margin-left: 0 !important;
    }
    .content-left{
        float: none;
        height: 50px;
    }
    .content-right{
        margin-left: 0;
    }
    #job-list img{
        bottom: 68px;
        position: relative;
    }
    #job-list .jb-row{
        margin: 18% auto !important;
    }
    #job-filter #tg-knowledge {
        padding-top: 0px !important;
        padding-left: 2% !important;
    }
}

@media (max-width: 390px) {
    .cp-size{
        width: 100px !important;
    }
    h1{
       font-size: 1rem !important; 
    }
    #job-list .jb-row{
        margin: 30% auto !important;
    }
}