/* VARIABLES */
:root{
    --DesaturatedDarkCyan: hsl(180, 29%, 50%);
    --LightGrayishCyan: hsl(180, 52%, 96%); /*(Background)*/
    --LightGrayishCyan: hsl(180, 31%, 95%); /*(Filter Tablets)*/
    --DarkGrayishCyan: hsl(180, 8%, 52%);
    --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
    --White: #fff;
}


body{
    background-color: var(--LightGrayishCyan) !important;
    font-family: "Spartan" !important;
    font-size: 15px !important;
}
h1, h3, .tag-dark-green-letters{
    font-family: "Spartan" !important;
    font-weight: 700 !important;
}
h1{
    font-size: 2rem !important;
}
h3{
    font-size: 1.5rem!important;
}
li{
    display: inline-block;
}

.row{
    background-color: var(--White);
    margin: 8% auto;
}
.company, .role, .level, .language, .tools{
    color: var(--DesaturatedDarkCyan);
}
.tag-job{
    border-radius: 10rem !important;
    color: var(--White) !important;   
    font-size: 10px !important;     
    text-transform: uppercase;
}
.badge{
    padding: 0.6em !important;
}
.company{
    width: 25% !important;
}
.new{
    background-color: var(--DesaturatedDarkCyan);
    width: 10% !important;
}
.feature{
    background-color: var(--VeryDarkGrayishCyan);
    width: 14% !important;
}

.desc{
    color: var(--DarkGrayishCyan);
}
.hide-element{
    visibility: hidden;
}
#tg-knowledge li{
    background-color: var(--DesaturatedDarkCyan);
}
/* Nav */
#bg-nav img{
    background-color: var(--DesaturatedDarkCyan) !important;
    width: 100% !important;
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }